
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GotoHome</title>
</head>
<body>
    <div> 
        <a href="~/Customer/Enter">Add Customers</a>
    </div>
</body>
</html>
