
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form method="post" action="Validate">
         Enter Email:   <input name="txtuser" type="text" /><br/>
         Enter password:   <input name="txtpwd" type="text" /><br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
